* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fundo-tela-login,
.fundo {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/trem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.painel {
  width: 340px;
  height: 100vh;
  background: rgba(90, 90, 90, 0.55);
  backdrop-filter: blur(2px);
  padding: 35px;
}

.logo {
  width: 130px;
  height: 85px;
  background: #2b2114;
  margin: 0 auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  border-radius: 0;
  padding: 12px;
}

.btn {
  border-radius: 0;
  min-width: 120px;
}

#mensagem {
  color: white;
}

.mensagem-bem-vindo {
  padding: 20px;
  margin-bottom: 2px;
}

.mensagem-admin-home {
  color: #2d5cff;
  font-weight: 700;
}

.pergunta-mensagem-bem-vindo {
  font-size: 1.5rem;
}

.botaos-home button {
  width: 320px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding-left: 20px;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 12px;
}

.titulo-botao-home {
  font-size: 1.5rem;
  font-weight: 600;
}

.descricao-botao-home {
  font-size: 0.95rem;
  opacity: 0.9;
}

.botaos-home ion-icon {
  font-size: 1.8rem;
  min-width: 35px;
  display: flex;
  justify-content: center;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 30px;
}

.cards-informativo-cima {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-top: 0;
}

.card-cima img {
  padding: 8px;
  max-width: 380px; 
  width: 100%;    
  height: auto;
}

.mapa-home img {
  width: 100%;
  max-width: 800px;
  height: auto;
}





