* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fundo-tela-login,
.fundo {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/trem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.painel {
  width: 340px;
  height: 100vh;
  background: rgba(90, 90, 90, 0.55);
  backdrop-filter: blur(2px);
  padding: 35px;
}

.logo {
  width: 130px;
  height: 85px;
  background: #2b2114;
  margin: 0 auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  border-radius: 0;
  padding: 12px;
}

.btn {
  border-radius: 0;
  min-width: 120px;
}

#mensagem {
  color: white;
}

.botaos-home button {
    width: 320px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding-left: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 12px;
}
